@value colorThird, makerRed, makerWhite from '../../common/colors.css';
@value fontKR from '../../common/fonts.css';
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 13vh;
  margin-left: 2em;
  top: 0;
}
.button {
  background-color: transparent;
  border: 0;
  padding: 1em 2em;
  border-radius: 30px;
  font-family: fontKR;
  font-weight: 600;
  cursor: pointer;
}
.button:hover {
  background-color: colorThird;
  transition: 0.5s ease-in;
}
@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
    margin: 0;
    margin-top: 11vh;
  }
}
