@value colorThird, colorFourth, colorWhite from "../../common/colors.css";

.container {
  display: flex;
  position: fixed;
  top: 20px;
  right: 20px;
  flex-direction: row-reverse;
  align-items: center;
  z-index: 100;
}
.show {
  width: 50px;
  height: 50px;
  background-color: colorFourth;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.show .icon {
  color: colorWhite;
  width: 90%;
  height: 90%;
}
.member_container {
  display: none;
}

.container:hover .member_container {
  display: inline-block;
  transition: 0.3s ease-out;
}

.nonMember,
.member {
  display: flex;
}

.user_name {
  margin-right: 1em;
}

@media screen and (max-width: 650px) {
  .container {
    top: 90vh;
  }
}
