@value colorBlack,makerWhite from '../../common/colors.css';
@value fontKR from '../../common/fonts.css';
.container {
  text-align: center;
  color: colorBlack;
  width: 100%;
  padding: 2.1em 0;
}

.title {
  font-size: 17px;
  font-family: fontKR;
  font-weight: bold;
}
@media screen and (max-width: 1200px) {
  .container {
    margin-top: 11vh;
  }
}
