@value makerDarkRed, makerRed, makerWhite,makerLightGrey, makerGrey, makerPink, makerGreen from '../common/colors.css';

.form_container {
  width: 27rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  width: 100%;
  margin-bottom: 1em;
}
.id,
.password,
.password_check,
.email,
.nickname {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.title {
  font-weight: bold;
  color: makerDarkRed;
  margin-right: 2em;
}
.input {
  width: 22em;
  border: 2px solid makerDarkRed;
  border-radius: 20px;
  padding: 0.7em 1em;
  background-color: makerRed;
  color: makerWhite;
  cursor: pointer;
}
.input:focus {
  outline: 0;
  opacity: 80%;
  transition: 0.5s ease-out;
}
.input::placeholder {
  color: makerWhite;
  border: 0;
  font-size: 12px;
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.link {
  display: flex;
  flex-direction: column;
}

.button {
  background-color: transparent;
  border: 0;
  color: #0058d3;
  text-align: left;
  cursor: pointer;
}
.button:hover {
  opacity: 70%;
  transition: 0.3s ease-out;
}

.submit_btn {
  background-color: makerDarkRed;
  border: 0;
  padding: 0.5em 1.5em;
  color: makerWhite;
  border-radius: 5px;
  cursor: pointer;
}
.submit_btn:hover {
  background-color: makerRed;
  transition: 0.3s ease-out;
}

/* mypage에서만 */
.subTitle {
  text-align: center;
  margin-bottom: 3em;
  color: makerGrey;
}
.subTitle::after {
  content: "";
  display: block;
  width: 7em;
  border-bottom: 1px solid makerGrey;
  transform: translateY(0.5em);
}

.password_check {
  margin-bottom: 0;
}
.password_word {
  font-size: 14px;
  margin: 1em 0;
  margin-left: 10em;
}
.password_word.pink {
  color: makerPink;
}
.password_word.green {
  color: makerGreen;
}
