<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>게시글 리스트 페이지</title>
</head>

<style>
    .layout{
        width: 500px;
        margin : 0 auto;
        margin-top  : 40px;
    }
</style>


<body>
    <div class="layout">

        <table>
            <thead>
                <tr>
                    <th>글번호</th>
                    <th>제목</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="board : ${list}">
                    <td th:text="${board.id}">1</td>
                    <td>
                        <a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}"></a>
                    </td>
                </tr>
            </tbody>
        </table>

    <!--    <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">-->
    <!--        <a th:if="${page != nowPage}" th:href="@{/board/list(page = ${page - 1}, searchKeyword = ${param.searchKeyword})}" th:text="${page}"></a>-->
    <!--        <strong th:if="${page == nowPage}" th:text="${page}" style="color : red"></strong>-->
    <!--    </th:block>-->
    <!--    <form th:action="@{/board/list}" method="get">-->
    <!--        <input type="text" name="searchKeyword">-->
    <!--        <button type="submit">검색</button>-->
    <!--    </form>-->


        <a class="btn btn-secondary my-2 mr-2 my-sm-0" th:href="@{/user/login}"
           sec:authorize="!isAuthenticated()">로그인</a>
        <a class="btn btn-secondary my-2 my-sm-0" th:href="@{/user/join}"
           sec:authorize="!isAuthenticated()">회원가입</a>
        <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="POST" sec:authorize="isAuthenticated()">
            <span class="text-white" sec:authentication="username">사용자</span>
            <span class="text-white mx-2" sec:authentication="principal.authorities">권한</span>
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button>
        </form>


    </div>

</body>
</html>