@value makerGrey, makerLightGrey, makerRed, makerDarkRed, makerWhite from '../../common/colors.css';

.button {
  background-color: makerRed;
  color: makerWhite;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5em 1em;
  border: 0;
}
.button:hover {
  opacity: 80%;
}

.container {
  width: 100%;
  min-height: 100%;
  padding: 3em;
}
.title_bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1em;
  border-bottom: 2px solid makerRed;
}
.title_bar .title {
  font-size: 1.5em;
  padding: 1em;
}
.user_name {
  color: makerGrey;
}

.form {
  margin-bottom: 1em;
}
.board_option {
  text-align: right;
  margin-bottom: 1em;
}
