@value colorWhite from '../../common/colors.css';
@value fontKR from '../../common/fonts.css';
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

.board_container {
  background-color: colorWhite;
  width: 13vw;
  height: 75vh;
  margin-right: 5em;
}
.board_container:nth-child(1) {
  position: absolute;
  border-radius: 10px 10px 0 0;
  bottom: 0;
  right: 45%;
  transform: translateX(-45%);
}
.board_container:nth-child(2) {
  position: absolute;
  border-radius: 10px 10px 0 0;
  top: 0;
  right: 25%;
  transform: translateX(-25%);
}
.board_container:nth-child(3) {
  position: absolute;
  border-radius: 10px 10px 0 0;
  bottom: 0;
  right: 5%;
  transform: translateX(-5%);
}
.board_container.down .img {
  border-radius: 10px 10px 0 0;
}
.board_container.up .img {
}

.img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.title {
  padding: 0.5em;
  font-family: fontKR;
}

@media screen and (max-width: 1200px) {
  .container {
    justify-content: center;
  }
  .board_container {
    width: 20vw;
    margin-right: 0;
  }
}
