@value colorFirst, colorSecond, colorFourth,colorGrey,colorWhite from '../../common/colors.css';
@value fontTitle,fontSub, fontKR from '../../common/fonts.css';
.container {
  position: fixed;
  background-color: colorWhite;
  margin-left: 4em;
  width: 22%;
  height: 100vh;
  box-shadow: -5px 0px 10px 0px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 10;
}

.container .logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.container .logo .img {
  width: 30px;
  height: 45px;
  margin-right: 0.5em;
}
.container .logo .title {
  font-size: 30px;
  font-family: fontTitle;
}

.category .name,
.write .name {
  font-family: fontSub;
  margin-bottom: 2em;
  text-align: center;
  font-weight: 900;
  color: colorGrey;
}

.category .buttons {
  display: flex;
  flex-direction: column;
}

.category .button {
  margin-bottom: 0.5em;
  padding: 0.7em 1em;
  background: transparent;
  border: 0;
  border-radius: 30px;
  font-size: 15px;
  font-family: fontKR;
  cursor: pointer;
}

.category .button:hover {
  background-color: colorSecond;
  transition: 0.3s ease-out;
}

.about_btn {
  background: transparent;
  border: none;
  font-size: 20px;
  font-family: fontSub;
  font-weight: 900;

  padding: 0.5em 1.5em;
  border-radius: 40px;

  cursor: pointer;
}
.about_btn:hover {
  background: linear-gradient(to right, colorSecond, colorFirst);
  color: colorWhite;
  transition: 0.2s ease-out;
}
.write .write_btn {
  background-color: colorSecond;
  padding: 0.7em 2em;
  border-radius: 40px;
  border: 3px solid colorFourth;
  cursor: pointer;
}
.write .write_btn:hover {
  background-color: colorFirst;
  transition: 0.3s ease-out;
}
.res_btn {
  display: none;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 25px;
  color: colorBlack;
}
.res_btn:hover {
  color: colorSecond;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 80%;
    height: 10vh;
  }
  .category,
  .about_btn,
  .write {
    display: none;
  }
  .res_btn {
    display: block;
  }
}
