@value colorFirst, colorSecond, colorFourth,colorGrey,colorWhite from '../../common/colors.css';
@value fontTitle,fontSub, fontKR from '../../common/fonts.css';
.container {
  position: fixed;
  margin-left: 4em;
  width: 22%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 20;

  box-shadow: -14px 0px 10px -2px rgba(0, 0, 0, 0.2);
}

.container .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 1em;

  width: 100%;
  background-color: colorWhite;
}
.container .logo .img {
  width: 30px;
  height: 30px;
  margin-right: 0.5em;
}
.container .logo .title {
  font-size: 30px;
  font-family: fontTitle;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: auto;
  width: 100%;
  background-color: colorWhite;
}

.category .name,
.write .name {
  font-family: fontSub;
  margin-bottom: 2em;
  text-align: center;
  font-weight: 900;
  color: colorGrey;
}

.category .buttons {
  display: flex;
  flex-direction: column;
}

.category .button {
  margin-bottom: 0.5em;
  padding: 0.7em 1em;
  background: transparent;
  border: 0;
  border-radius: 30px;
  font-size: 15px;
  font-family: fontKR;
  cursor: pointer;
}

.category .button:hover {
  background-color: colorSecond;
  transition: 0.3s ease-out;
}

.about_btn {
  background: transparent;
  border: none;
  font-size: 20px;
  font-family: fontSub;
  font-weight: 900;

  padding: 0.5em 1.5em;
  border-radius: 40px;

  cursor: pointer;
}
.about_btn:hover {
  background: linear-gradient(to right, colorSecond, colorFirst);
  color: colorWhite;
  transition: 0.2s ease-out;
}
.write .write_btn {
  background-color: colorSecond;
  padding: 0.7em 2em;
  border-radius: 40px;
  border: 3px solid colorFourth;
  cursor: pointer;
}
.write .write_btn:hover {
  background-color: colorFirst;
  transition: 0.3s ease-out;
}
.res_btn {
  display: none;
  position: absolute;
  top: 20px;
  right: 5%;
  cursor: pointer;
  font-size: 25px;
  color: colorBlack;
}
.res_btn:hover {
  color: colorSecond;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 80%;
    height: 10vh;
    box-shadow: none;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .res_btn {
    display: block;
  }
  .menu {
    padding: 1em 0;
    border-radius: 0 0 10px 10px;
  }
  .menu.active,
  .container .logo {
    display: flex;
  }
  .menu.none {
    display: none;
  }
}
