@value colorBlack, colorGrey, colorWhite from '../../common/colors.css';

.container {
  background-color: colorWhite;
  padding: 0.5em;
  border-radius: 10px;
  margin: 1em;
  cursor: pointer;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 280px;
}
.container:hover {
  transform: scale(1.02);
  transition: 0.3s ease-in;
}
.thumbnail {
  min-width: 100%;
  max-width: 100%;
  min-height: 220px;
  max-height: 220px;
  object-fit: cover;
  border-radius: 10px;
}
.data {
}
.title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.username {
  font-size: 12px;
  color: colorGrey;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
